link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
link(href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css", rel="stylesheet")
link(href="./site.css", rel="stylesheet")
h1 SyncIt... The Offline Web App Enabler
ul#menu
  li
    a(href="index.html")
      i.fa.fa-home &nbsp; Homepage
  li
    a(href="overview.html")
      i.fa.fa-clipboard &nbsp; Overview
  li
    a(href="repositories.html")
      i.fa.fa-github &nbsp; GitHub Repositories

