
/* line 1 : /home/fozz/Projects/syncit/demo/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */

/* line 2 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 15 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
audio,
canvas,
video {
  display: inline-block;
}

/* line 20 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 24 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
[hidden] {
  display: none;
}

/* line 27 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 32 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
body {
  margin: 0;
}

/* line 35 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
a:focus {
  outline: thin dotted;
}

/* line 38 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 42 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 45 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 49 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
dfn {
  font-style: italic;
}

/* line 52 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 56 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 63 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 67 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 70 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
small {
  font-size: 80%;
}

/* line 73 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 80 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
sup {
  top: -0.5em;
}

/* line 83 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 86 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
img {
  border: 0;
}

/* line 89 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 92 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
figure {
  margin: 0;
}

/* line 95 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 100 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 104 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 112 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
button,
input {
  line-height: normal;
}

/* line 116 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 123 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 127 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 132 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 138 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 142 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 147 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 151 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 150 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */

/* line 2 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/color.styl */

/* line 9 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */

/* line 11 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
body {
  font-size: 1em;
  line-height: 1.38em;
  font-family: Helvetica, Verdana, Arial;
}

/* line 15 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
p {
  margin: 24px 28px;
}

/* line 18 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.825em 24px;
}

/* line 20 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h1 {
  font-size: 1.8em;
}

/* line 22 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h2 {
  font-size: 1.6em;
}

/* line 24 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h3 {
  font-size: 1.4em;
}

/* line 26 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h4 {
  font-size: 1.2em;
}

/* line 28 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h5 {
  font-size: 1.1em;
}

/* line 30 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
h6 {
  font-size: 1em;
}

/* line 33 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
b,
strong {
  font-weight: bold;
}

/* line 36 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
i,
em {
  font-style: italic;
  letter-spacing: 0.065em;
}

/* line 41 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
address,
blockquote {
  display: block;
  margin: 48px;
  line-height: 1.38em;
}

/* line 46 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
address:first-line {
  font-weight: bold;
}

/* line 49 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote {
  font-size: 1.15em;
  text-align: center;
  margin: 24px;
}

/* line 53 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote cite {
  font-style: italic;
  text-align: right;
  margin: 0;
}

/* line 57 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote cite:before {
  content: "\2014\00a0";
}

/* line 59 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote cite:after {
  content: "";
}

/* line 61 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote p {
  margin: 0 20px;
}

/* line 63 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote p:before {
  content: "\201C\00a0";
}

/* line 65 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
blockquote p:after {
  content: "\00a0\201D";
}

/* line 67 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
q {
  quotes: none;
}

/* line 69 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
q:before {
  content: "\201C\00a0";
}

/* line 71 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
q:after {
  content: "\00a0\201D";
}

/* line 74 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
cite,
cite a {
  font-style: italic;
}

/* line 77 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */

/* line 78 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
cite:before {
  content: "(";
}

/* line 80 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
cite:after {
  content: ")";
}

/* line 82 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
pre,
code {
  display: block;
  margin: 0.5em 24px 24px 24px;
  border-radius: 0;
  padding: 1em;
  background-color: #e2e2e2;
  border: 1px solid #b3b3b3;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: none;
  font-size: 0.975em;
  font-family: "Courier New", Courier, monospace, sans-serif;
  overflow: auto;
  color: #414141;
}

/* line 100 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ul,
ol,
dl {
  margin: 0 48px;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
}

/* line 107 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ul ul,
ol ol,
dl dl {
  margin: 0 24px;
}

/* line 111 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ul {
  list-style-type: disc;
}

/* line 113 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ul ul {
  list-style-type: circle;
}

/* line 115 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ol {
  list-style-type: decimal;
}

/* line 117 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
ol ol {
  list-style-type: lower-alpha;
}

/* line 119 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
dl {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  list-style-type: none;
  margin: 0 24px;
}

/* line 126 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
dl dt {
  font-weight: bold;
}

/* line 128 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/type.styl */
dl dd {
  margin: 20px 24px;
}

/* line 98 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/css3.styl */

/* line 1 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/vendorize.styl */

/* line 2 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/gradients.styl */

/* line 2 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/gradients.styl */

/* line 1 : /home/fozz/Projects/syncit/demo/node_modules/fluidity/lib/fluidity/vendorize.styl */

/* line 9 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */

/* line 10 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.main-tab-holder header {
  background-color: #d3d3d3;
  padding-bottom: 1em;
}

/* line 13 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.main-tab-holder h2,
.main-tab-holder h3 {
  background-color: #808080;
  color: #fff;
  margin: 0;
  padding: 0.2em;
}

/* line 18 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.main-tab-holder nav.tabs {
  margin-top: 0;
}

/* line 20 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.main-tab-holder nav.tabs dl {
  background-color: #d3d3d3;
}

/* line 22 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.main-tab-holder nav.tabs dl dd {
  background-color: #fff;
}

/* line 25 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */

/* line 26 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li li {
  height: 120px;
}

/* line 28 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li div.clientarea:first-child {
  border-top: 1px solid #000;
}

/* line 30 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li div.clientarea:last-child {
  border-bottom: 1px solid #000;
}

/* line 32 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li div.clientarea {
  position: relative;
  margin: 0 4em;
  border: 1px solid #000;
  border-top-color: #808080;
  border-bottom-color: #808080;
}

/* line 38 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li div.clientarea div.tab-holder {
  padding: 0;
}

/* line 40 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#client-tab-holder .tab-bodies li div.clientarea div.dgrid {
  height: 200px;
}

/* line 43 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder {
  padding: 0 0 20px 0;
}

/* line 45 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder ul {
  background-color: #fff;
}

/* line 47 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder div.server-view,
#server-tab-holder div.server-log {
  background-color: #000;
  color: #808080;
}

/* line 48 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder div.server-view div#server-log,
#server-tab-holder div.server-log div#server-log {
  height: 200px;
}

/* line 50 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder div.server-view div#server-view,
#server-tab-holder div.server-log div#server-view {
  height: 200px;
}

/* line 54 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#server-tab-holder div.server-view div.dgrid-header-row,
#server-tab-holder div.server-log div.dgrid-header-row {
  background-color: #000;
}

/* line 57 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#consLog {
  height: 120px;
  border-top: solid 4px #808080;
}

/* line 61 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */

/* line 62 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.box-cell h2,
#consLog h2 {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #d3d3d3;
  font-size: 2em;
  font-weight: bold;
}

/* line 70 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.box-cell:first-child {
  border-left-width: 0px;
}

/* line 73 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.box-row {
  border-top: solid 4px #808080;
}

/* line 75 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.box-row-bottom {
  border-bottom: solid 4px #808080;
}

/* line 78 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
nav.tabs {
  margin-top: 1em;
}

/* line 81 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
div.dgrid .removed {
  text-decoration: line-through;
}

/* line 85 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.hidden {
  display: none;
}

/* line 89 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
a.apihelp {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.2em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* line 101 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */

/* line 103 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
#io .api {
  grid-space: 30%;
}

/* line 106 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */

/* line 108 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.client .queue,
.client .store {
  grid-space: 25%;
}

/* line 111 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.client .queue > div,
.client .store > div {
  height: 300px;
}

/* line 113 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.client .jrec,
.client .log {
  grid-space: 50%;
}

/* line 117 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts {
  background-color: #fff;
}

/* line 119 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts h5 {
  margin: 0;
}

/* line 121 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 125 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts footer {
  text-align: right;
  float: none;
}

/* line 128 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts div.null {
  background-color: #ddd;
  margin: 0.2em 0;
  padding: 0.3em;
}

/* line 132 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts dl {
  background-color: #ddd;
  margin: 0.2em 0;
  padding: 0.3em 0;
  min-width: 200px;
}

/* line 137 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts dl dt {
  width: 30%;
  display: inline-block;
  margin: 0;
  padding-left: 0.3em;
}

/* line 142 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
.syncit-update-conflicts dl dd {
  width: 60%;
  display: inline-block;
  -moz-margin-start: 0;
  -webkit-margin-start: 0;
  -o-margin-start: 0;
  -ms-margin-start: 0;
  margin-start: 0;
  margin: 0;
  padding-left: 0;
}

/* line 150 : /home/fozz/Projects/syncit/demo/public/css/sync.styl */
div.popup-content-template {
  display: none;
}
